:root {
    /* shave */
    --lgy: lightgoldenrodyellow;
    --englishr: #AF3E4D;
    --ocre: #D17B0F;
    --wblack: #004346;
    --rblack: #042A2B;
}

body {
    width: 100vw;
    height: 100vh;

    display:flex;
    flex-flow: column nowrap;

    align-items: center;
    justify-content: center;

    background-color: var(--rblack);
    color: var(--lgy);

    overflow-y: scroll;
    overflow-x: hidden;
}

.section {
    background-color: var(--wblack);
    color: var(--englishr);

    margin: 0 10vh;
}

a, button {
    color: var(--ocre);
    transition: 1s;
}
:is(a, button) :hover {
    opacity: 80%;
}